/* Created By Cade Kosnick */

body{
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/tears-white-small.png)
}
h1{
    text-align: center;
    text-shadow: 2px 1px darkgray;
    letter-spacing: 2px;
    font-variant: small-caps;
}
h2{
    background-color: black;
    color: cornsilk;
}
a:link, a:visited{
    color: #722F30;
}
a:hover{
        color: #722F30;
        text-decoration: none;
        font-style: italic;
}

.prettywords{
    font-style: italic;
    color: midnightblue;
    font-family: monospace;
    font-size: 12pt;
}

.topaddress{
    text-align:center;
    font-variant:small-caps;
    color:midnightblue;
}

.expicons{
    list-style-image:url(images/micon.gif);
}

.fancypic{
    border-radius: 75%;
    border: 1px solid black;
    padding: 5px;
    filter: grayscale(100%);
}

.site{
    background-color: white;
    width: 90%;
    margiin: 0 auto;
    border: 1px solid black;
}

footer{
    text-align: center;
    font-style: italic;
    font-size: small;
}

aside{
    float: left;
    width: 25%;
}

main{
    float: left;
    width: 75%;
}

@media only screen and (max-width: 600px){
    aside{float: none; width: 100%;}
    main{float: none; width: 100%;}
}